@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>CommandLine:</strong> @System.Environment.CommandLine</p>
<p><strong>CurrentDirectory:</strong> @System.Environment.CurrentDirectory</p>
<p><strong>OSVersion:</strong> @System.Environment.OSVersion</p>
<p><strong>MachineName:</strong> @System.Environment.MachineName</p>
<p><strong>UserName:</strong> @System.Environment.UserName</p>