@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>CommandLine:</strong> @System.Environment.CommandLine</p>
<p><strong>CurrentDirectory:</strong> @System.Environment.CurrentDirectory</p>
<p><strong>OSVersion:</strong> @System.Environment.OSVersion</p>
<p><strong>MachineName:</strong> @System.Environment.MachineName</p>
<p><strong>UserName:</strong> @System.Environment.UserName</p>

<h3 style="color:red">Nova Info</h3>
<p style="color:red"><strong>Platform:</strong> @System.Environment.OSVersion.Platform</p>
<p style="color:red"><strong>VersionString:</strong> @System.Environment.OSVersion.VersionString</p>


<h1>Alunos</h1>
@foreach (var aluno in Model)
{

    <p>@aluno.Nome / @aluno.Idade </p>
}